**/node_modules/
**/dist/
**/.DS_Store
**/.env
**/.env.*
**/coverage/
**/.pytest_cache/
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/
**/.idea/
**/.vscode/
**/firebase-service-account.json
**/firebase-key.json

